<div style="display: flex; justify-content: center;">
  <div class="folder">
    <div class="header">
      <img class="header__image" src="assets/projects.png" alt="header">
      <div class="header__content">
        <span class="header__content--text">Our environmental projects are providing<br> many environmental benefits around the world.</span>
      </div>
    </div>
    <ul class="cards">
      <li class="cards__item">
        <div class="card">
          <div class="card__image">
            <img src="assets/Tile_Image.jpg" alt="Product"/>
            <div class="card__image--title overlay-title">
              KARIBA REDD+ - ZIMBABWE
            </div>
          </div>
          <div class="card__additional">
            <button class="card__additional--button btn">Buy now</button>
            <div class="card__additional--price overlay">$7.5 / ton</div>
          </div>
          <div class="card__content truncate-text">
            <div class="card__content--title">Reduced Emmissions from Deforestation and Degradation</div>
            <div class="card__content--detail">955,548 lbs. offset</div>
            <p class="card__content--text break-line">Protects forests and widlife on the southern shores of Lake Kariba in Zimbabwe, forming a giant biodiversity corridor.</p>
          </div>
        </div>
      </li>
      <li class="cards__item">
        <div class="card">
          <div class="card__image">
            <img src="assets/Tile_Image.jpg" alt="Product"/>
            <div class="card__image--title overlay-title">
              KARIBA REDD+ - ZIMBABWE
            </div>
          </div>
          <div class="card__additional">
            <button class="card__additional--button btn">Buy now</button>
            <div class="card__additional--price overlay">$7.5 / ton</div>
          </div>
          <div class="card__content truncate-text">
            <div class="card__content--title">Reduced Emmissions from Deforestation and Degradation</div>
            <div class="card__content--detail">955,548 lbs. offset</div>
            <p class="card__content--text break-line">Protects forests and widlife on the southern shores of Lake Kariba in Zimbabwe, forming a giant biodiversity corridor.</p>
          </div>
        </div>
      </li>
      <li class="cards__item">
        <div class="card">
          <div class="card__image">
            <img src="assets/Tile_Image.jpg" alt="Product"/>
            <div class="card__image--title overlay-title">
              KARIBA REDD+ - ZIMBABWE
            </div>
          </div>
          <div class="card__additional">
            <button class="card__additional--button btn">Buy now</button>
            <div class="card__additional--price overlay">$7.5 / ton</div>
          </div>
          <div class="card__content truncate-text">
            <div class="card__content--title">Reduced Emmissions from Deforestation and Degradation</div>
            <div class="card__content--detail">955,548 lbs. offset</div>
            <p class="card__content--text break-line">Protects forests and widlife on the southern shores of Lake Kariba in Zimbabwe, forming a giant biodiversity corridor.</p>
          </div>
        </div>
      </li>
      <li class="cards__item">
        <div class="card">
          <div class="card__image">
            <img src="assets/Tile_Image.jpg" alt="Product"/>
            <div class="card__image--title overlay-title">
              KARIBA REDD+ - ZIMBABWE
            </div>
          </div>
          <div class="card__additional">
            <button class="card__additional--button btn">Buy now</button>
            <div class="card__additional--price overlay">$7.5 / ton</div>
          </div>
          <div class="card__content truncate-text">
            <div class="card__content--title">Reduced Emmissions from Deforestation and Degradation</div>
            <div class="card__content--detail">955,548 lbs. offset</div>
            <p class="card__content--text break-line">Protects forests and widlife on the southern shores of Lake Kariba in Zimbabwe, forming a giant biodiversity corridor.</p>
          </div>
        </div>
      </li>
      <li class="cards__item">
        <div class="card">
          <div class="card__image">
            <img src="assets/Tile_Image.jpg" alt="Product"/>
            <div class="card__image--title overlay-title">
              KARIBA REDD+ - ZIMBABWE
            </div>
          </div>
          <div class="card__additional">
            <button class="card__additional--button btn">Buy now</button>
            <div class="card__additional--price overlay">$7.5 / ton</div>
          </div>
          <div class="card__content truncate-text">
            <div class="card__content--title">Reduced Emmissions from Deforestation and Degradation</div>
            <div class="card__content--detail">955,548 lbs. offset</div>
            <p class="card__content--text break-line">Protects forests and widlife on the southern shores of Lake Kariba in Zimbabwe, forming a giant biodiversity corridor.</p>
          </div>
        </div>
      </li>
      <li class="cards__item">
        <div class="card">
          <div class="card__image">
            <img src="assets/Tile_Image.jpg" alt="Product"/>
            <div class="card__image--title overlay-title">
              KARIBA REDD+ - ZIMBABWE
            </div>
          </div>
          <div class="card__additional">
            <button class="card__additional--button btn">Buy now</button>
            <div class="card__additional--price overlay">$7.5 / ton</div>
          </div>
          <div class="card__content truncate-text">
            <div class="card__content--title">Reduced Emmissions from Deforestation and Degradation</div>
            <div class="card__content--detail">955,548 lbs. offset</div>
            <p class="card__content--text break-line">Protects forests and widlife on the southern shores of Lake Kariba in Zimbabwe, forming a giant biodiversity corridor.</p>
          </div>
        </div>
      </li>
      <li class="cards__item">
        <div class="card">
          <div class="card__image">
            <img src="assets/Tile_Image.jpg" alt="Product"/>
            <div class="card__image--title overlay-title">
              KARIBA REDD+ - ZIMBABWE
            </div>
          </div>
          <div class="card__additional">
            <button class="card__additional--button btn">Buy now</button>
            <div class="card__additional--price overlay">$7.5 / ton</div>
          </div>
          <div class="card__content truncate-text">
            <div class="card__content--title">Reduced Emmissions from Deforestation and Degradation</div>
            <div class="card__content--detail">955,548 lbs. offset</div>
            <p class="card__content--text break-line">Protects forests and widlife on the southern shores of Lake Kariba in Zimbabwe, forming a giant biodiversity corridor.</p>
          </div>
        </div>
      </li>
      <li class="cards__item">
        <div class="card">
          <div class="card__image">
            <img src="assets/Tile_Image.jpg" alt="Product"/>
            <div class="card__image--title overlay-title">
              KARIBA REDD+ - ZIMBABWE
            </div>
          </div>
          <div class="card__additional">
            <button class="card__additional--button btn">Buy now</button>
            <div class="card__additional--price overlay">$7.5 / ton</div>
          </div>
          <div class="card__content truncate-text">
            <div class="card__content--title">Reduced Emmissions from Deforestation and Degradation</div>
            <div class="card__content--detail">955,548 lbs. offset</div>
            <p class="card__content--text break-line">Protects forests and widlife on the southern shores of Lake Kariba in Zimbabwe, forming a giant biodiversity corridor.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>