<div style="display: flex; justify-content: center;">
  <div class="folder">
    <div class="header">
      <img class="header__image" src="assets/projects.png" alt="header">
      <div class="header__content">
        <span class="header__content--text">Our environmental projects are providing<br> many environmental benefits around the world.</span>
      </div>
    </div>

    <app-no-data-found *ngIf="noData"></app-no-data-found>

    <app-cards [payload]="cards"></app-cards>

  </div>
</div>