*,
*::before,
*::after { 
  box-sizing: border-box;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.to-uppercase {
  text-transform: uppercase;
}

.overlay {
  font-family: 'Oswald', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: .8rem;
  border-radius: 5px;
  cursor: default;
}

.overlay-title {
  font-family: 'Oswald', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 8px 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: default;
}

.btn {
  padding: 10px 16px;
  background-color: #0B8D37;
  color: white;
  border-radius: 5px;
  border: 0px;
  font-size: 1.1rem;
  text-transform: capitalize;
  cursor: pointer;
}

.truncate-text {
  max-width: 100%;

  .break-line {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}